.contact {
  background-image: url(../../public/imgPages/escritorio.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.contentContact {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  gap: 40px;
  padding: 60px;
}
.cart {
  border-radius: 15px;
  width: 50%;
  margin-top: 25vh;
  background-color: rgba(255, 255, 255, 0.719);
  height: 35vh;
  text-align: center;
  
}

.textContacto {
  color: rgb(8, 8, 8);
  font-size: 20px;
  padding: 40px;
}

.contact_form {
  width: 35%;
  height: auto;
  border-radius: 10px;
  background-color: #fbfbfb;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(128, 128, 128, 0.418);
 
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #050505;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 70px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #080808;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  text-align: start;
  margin-left: 25px;
}

button {
  height: 42px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #070707;
  border-color: #3d6dc7;
  border-style: solid;
  border-radius: 10px;
  width: 340px;
  cursor: pointer;
}

button p {
  color: #fff;
  margin-top: 10px;
}

span {
  color: #2a75d6;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.titulo {
  font-size: 30px;
  text-align: letf;
  padding-bottom: 10px;
  margin-top: 15px;
  color: #fbfcfd;
}

.tituloDos {
  margin-left: 40px;
  font-size: 15px;
  width: 80%;
  padding-bottom: 20px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid #2e74c4;
}

.formulario textarea:focus {
  outline: 0;
  border: 2px solid #2e74c4;
}
